<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>{{infoPageFooterService.infoFooterSection.section_title_footer_col_1}}</h4>
          <p *ngFor="let infodir of infoPageFooterService.infoFooterSection.direccion_info">
            {{infodir.direccion}}
          </p><br>
          <strong>Phone: </strong>{{infoPageFooterService.infoFooterSection.contact_phone}}<br>
          <strong>Email: </strong>{{infoPageFooterService.infoFooterSection.contact_email}}<br>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{infoPageFooterService.infoFooterSection.section_title_footer_col_2}}</h4>
          <ul *ngFor="let infolink of infoPageFooterService.infoFooterSection.our_links">
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{infolink.title_enlace}}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{infoPageFooterService.infoFooterSection.section_title_footer_col_3}}</h4>
          <ul *ngFor="let infoservice of infoPageFooterService.infoFooterSection.our_services">
            <li><i class="bx bx-chevron-right"></i> <a href="#">{{infoservice.title_enlace}}</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>{{infoPageFooterService.infoFooterSection.section_title_footer_col_4}}</h4>
          <p>{{infoPageFooterService.infoFooterSection.section_title_content_col_4}}</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a [href]="infoPageFooterService.infoFooterSection.our_networks" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
          <br>
          <br>
          <img src="./assets/img/logo-black.png" alt="" class="img-fluid">
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright {{anio}} <strong><span>{{infoPageFooterService.infoFooterSection.section_title_footer_col_1}}</span></strong>. Todos los Derechos Reservados.
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      Designed by <a href="https://bootstrapmade.com/">{{infoPageFooterService.infoFooterSection.section_title_footer_col_1}}</a>
    </div>
  </div>
</footer>
<!-- End Footer -->
